<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- Provide Bean Configuration here -->

	<bean id='student' class='com.abc.beans.Student'>

		<property name="sname" value='sachin' />
		<property name="sage" value='47' />
		<property name="saddress" value="mumbai" />

	</bean>
</beans>
