<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id='employee' class='com.abc.beans.Employee'>
		<property name="ename" value="sachin" />

	</bean>

	<bean class='com.abc.events.ContextStartedImpl'/>
	<bean class='com.abc.events.ContextClosedImpl'/>
	<bean class='com.abc.events.ContextRefreshImpl'/>
	<bean class='com.abc.events.ContextStopedImpl'/>


</beans>