<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />

	<!-- Bean configuration of Course Object -->
	<bean id="core_java" class='com.abc.beans.Course'>

		<!-- Injecting through setter -->
		<property name="cid" value="c-111" />
		<property name="cname" value="COREJAVA" />
		<property name="cost" value="1000" />

	</bean>

	<bean id='advanced_java' class='com.abc.beans.Course'>

		<!-- Injecting through setter -->
		<property name="cid" value="c-222" />
		<property name="cname" value="ADVANCEDJAVA" />
		<property name="cost" value="1500" />

	</bean>



	<!-- Bean configuration of Student Object -->
	<bean id='student' class='com.abc.beans.Student'>

		<!-- Injecting through setter -->
		<property name="sid" value="abc010" />
		<property name="sname" value="sachin" />
		<property name="sadress" value="mumbai" />

	</bean>


</beans>