<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.0.xsd" >
	
	

	<bean id="course" class="com.abc.beans.Course">
		<constructor-arg value="c10"/>
		<constructor-arg value="spring"/>
		<constructor-arg value="3000"/>
	
	</bean>
	
	<bean id="student" class="com.abc.beans.Student">
		<constructor-arg value="s10"/>
		<constructor-arg value="sachin"/>
		<constructor-arg value="24"/>
		<constructor-arg value="Mumbai"/>
		<constructor-arg>
			<ref bean="course"/>
		
		</constructor-arg>
		
	</bean>
		
	



</beans>
