<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Bean configuration should be done here -->

	<bean id='employee' class='com.abc.beans.Employee'>

		<property name="eid" value="abcsIND10234" />
		<property name="ename" value="" />
		<property name="eage" value="0" />
		<property name="email" value="" />

	</bean>

	<bean id='employeeValidation'
		class='com.abc.validations.EmployeeValidation'>

		<property name="resource" value="beanValidation.properties" />

	</bean>


</beans>